body {
    margin: 0px;
}

/* 
#myH1 {
    color: antiquewhite;
}

#p1 {
    color: lightcoral;
}

#p2 {
    color: lightcyan;
}

#p3 {
    color: lightgreen;
}

#p4 {
    color: lightpink;
} 

.odd {
    color: lightcoral;
}

.even {
    color: lawngreen;
} 

.box {
    border: 5px solid ;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: 70px;
}

#box1 {
    background-color: lightcoral;
  
}

#box2 {
    background-color: lightgreen;
} */


